@import "./Colors.scss";
@import "./Menu.scss";
@import "./Main.scss";
@import "./Section.scss";
@import "./MainGrid.scss";
@import "./Slider.scss";
@import "./FindMe.scss";
@import "./SomeWorks.scss";
@import "./Animation.scss";
@import "./Navbar.scss";
@import "./Footer.scss";


@import url('https://fonts.googleapis.com/css?family=Anton|Cormorant+Garamond');

body {
  font-family: 'Cormorant Garamond', serif;
  background:linear-gradient( $beige-transp 100%, $beige-transp 100%),url('./../texture/texture.jpg');
  -moz-box-shadow: inset 0 0 200px $shadow;
  -webkit-box-shadow: inset 0 0 200px $shadow;
  box-shadow: inset 0 0 200px $shadow;
  background-attachment: fixed;  
}

.App {
  text-align: center;
  position: relative;

  .last-section {
    margin: 0;
  }

}

.App-logo {
  height: 80px;
  margin: 0 auto;
  margin-top: 10px;
  @media only screen and (max-width: $phone) {
    margin-top: 0px;
  }
}

.App-header {
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
