@import "./Colors.scss";
@import "./Functions.scss";

@mixin transparent($transp) {
    border: 0;
    background-color: $transp;
    outline: 0;
}

@mixin menu-item($fsize){
    line-height: 60px;
    font-weight: 500;
    font-style: italic;
    font-size: $fsize;
}

.Section__box {
    border: 0.3rem solid transparent;
    border-image: url('./../svg/randlinie.svg') 49%;
    margin: 5px 0;
    padding: 10px;
    position: relative;
    
    &__intern {
        border: 0.3rem solid transparent;
        border-image: url('./../svg/randlinie.svg') 40%;
        padding: 0 20px;
        position: relative;
        min-height: 280px;
    }

    &__negativebottom {
        background: $black;
        color: $beige;
        margin-left: -21px;
        margin-right: -21px;
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    &__negativetop {
        background: $black;
        color: $beige;
        margin-left: -21px;
        margin-right: -21px;
        position: absolute;
        width: 100%;
        top: 0;
    }

    &__bottom  {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    &__js {
        max-width: 160px;
        margin: 30px 0;
    }
  
}

// Responsive
@media only screen and (max-width: $phone) {
    .Section__box__intern {
        min-height: 230px;
    }

    .Section__box__js {
        margin: 30px 0 0 0;
    }

    .Section__box__middle {
        min-height: 160px;
    }
}

@media only screen and (min-width: $phone) and (max-width: $tablet){
    .Section__box__intern {
        min-height: 280px;
    }

    .Section__box__js {
        margin: 30px 0 0 0;
    }

    .Section__box__middle {
        min-height: 160px;
    }
}


@media only screen and (min-width: $laptop) {
    .Section__box__intern {
        min-height: 400px;
    }
}

@media only screen and (max-width: $laptop) {

    .Section__box__middle {
        position: relative;
        min-height: 180px;
    }

    .Section__box__middle--intern {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 

    }
}

