@import "./Colors.scss";


@mixin transparent($transp) {
    border: 0;
    background-color: $transp;
    outline: 0;
}

@mixin menu-item($fsize){
    line-height: 60px;
    font-weight: 500;
    font-style: italic;
    font-size: $fsize;
}

.Section__box {
    border: 0.3rem solid transparent;
    border-image: url('./../svg/randlinie.svg') 49%;
    margin: 5px 0;
    padding: 10px;

    &__intern {
        border: 0.3rem solid transparent;
        border-image: url('./../svg/randlinie.svg') 40%;
        padding: 0 20px;
    }

    img {
        max-width: 200px;
        margin: 20px;
    }

    &__negative {
        background: $black;
        color: $beige;
        margin-left: -21px;
        margin-right: -21px;
    }
}