.MainGrid__box {
  border: 1px solid #000000;
  margin: 5px 0;
  padding: 10px; }
  .MainGrid__box__intern {
    border: 1px solid #000000;
    padding: 0 20px; }
  .MainGrid__box img {
    max-width: 200px;
    margin: 20px; }
  .MainGrid__box__negative {
    background: #000000;
    color: #D1C9AC;
    margin-left: -21px;
    margin-right: -21px; }
