.MainGrid__first--h1 {
  padding: 0;
  margin: 0;
  font-size: 6rem; }
  @media (max-width: 1200px) {
    .MainGrid__first--h1 {
      font-size: calc(2rem + 5.33333vw) ; } }

.MainGrid__first--paragraph {
  font-size: 1.5rem;
  padding: 10px; }
  @media (max-width: 1200px) {
    .MainGrid__first--paragraph {
      font-size: calc(1.1rem + 0.53333vw) ; } }
