.Menu {
  display: block; }
  .Menu > div {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 250px;
    height: 100%;
    transition: -webkit-transform ease 250ms;
    transition: transform ease 250ms; }
    .Menu > div.left {
      background: #273D7A;
      left: -250px; }
    .Menu > div.visible.left {
      transform: translate3d(250px, 0, 0); }
    .Menu > div.right {
      background: #6B1919;
      right: -250px; }
    .Menu > div.visible.right {
      transform: translate3d(-250px, 0, 0); }
    .Menu > div > .MenuItem {
      float: left;
      width: 100%;
      margin: 0;
      padding: 10px 15px;
      border-bottom: solid 1px #555;
      cursor: pointer;
      color: #B0B0B0; }
      .Menu > div > .MenuItem:hover {
        color: #F0F0F0; }
