@import "./Colors.scss";
@import "./Section.scss";
@import "./Functions.scss";


.MenuContainer {
  @media only screen and (max-width: 1224px) {
    &__opened {
      background: rgba(0,0,0,0.6);
      height: 100%;
      position: fixed;
      width: 100%;
      top: 0;

      img {
        display: block !important;
      }
    }
  }
  
  &__button {
    &__close {
      @include transparent(transparent); 
      @include menu-item(22px); 
      text-align: right;
      float: right;
      clear: both;
      width: 100%;
      padding: 0 15px;

      &:after {
        position: absolute;
        content: url('./../svg/menuzeile.svg');
        width: 97%;
        margin-top: 34px;
        left: 3px;
        margin-top: 25px;
      }

      &:hover {
        background-color: $black;
        color: $beige;

        img {
          height: 38px;
          width: 38px;
          top: 6px;
        }
      }
  

      img {
        position: absolute;
        height: 40px;
        width: 40px;
        right: -45px;
        top: 5px;
        display: none;
        transition: all 0.3s;
      }
    }
  }

  &__language {
    position: absolute;
    width: 100%;

    &__link {
      background: $black;
      color: $beige;
      width: 50%;
      text-decoration: none;
      display: inline-table;
      padding: 20px 0;
      cursor: pointer;

      &:hover {
        text-decoration: none;
        color: $beige;
        opacity: 0.8;
      }
    }
  }

  &__desktop {
    border: 1px solid red;
  }

  &__line {
    position: absolute;
    top: 65px;
    left: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

.Menu {
  display:flex;
  $menu-width:270px;
 
  @media only screen and (min-width: 1225px) {
    text-align: left;
  }

  >div {
    background: linear-gradient($beige 40%, rgba(211,209,172, 0));
    -webkit-box-shadow: inset 0px 31px 58px -3px $shadow;
    -moz-box-shadow: inset 0px 31px 58px -3px $shadow;
    box-shadow: inset 0px 31px 58px -3px $shadow;
    -webkit-box-shadow: inset 0px 31px 58px -14px $shadow;
    -moz-box-shadow: inset 0px 31px 58px -14px $shadow;
    box-shadow: inset 0px 31px 58px -14px $shadow;
    position: fixed;
    z-index:2;
    top:0;
    height:100%; 

    @media only screen and (max-width: 1224px) {
      width:$menu-width; 
    }

    @media only screen and (min-width: 1225px) {
      width: 100%;
      left: 0;
      height: 120px;
    }  
    
    transition:(-webkit-transform ease 250ms); 
    transition:(transform ease 250ms);

    &.left {
      background:$beige;
      left:$menu-width*-1;
    }

    &.visible.left {
      transform: (translate3d($menu-width, 0, 0));
    }

    >.MenuItem {
      display: flex;
      align-items:center;
      margin:0;
      padding:10px 15px;
      cursor:pointer;
      color: $black;
      @include menu-item(22px); 

    
      &:after {
        position: absolute;
        content: url('./../svg/menuzeile.svg');
        width: 97%;
        margin-top: 34px;
        left: 3px;
      }

      span {
        padding: 0 0 0 15px;
      }

      &:hover {
        color:$beige;
        background-color: $black;
        text-decoration: none;
      }

      .icon {
        max-width: 50px;
        @include animation; 
      }
    }

    .MenuItem--desktop{
      display: inline;
      color: $black;
      line-height: 80px;
      @include responsive-font-size(1.6rem);
      padding: 0 40px;
      &:hover {
        text-decoration: none;
      }
    }

    .code {
      @include responsive-font-size(1.8rem);
      padding: 0 20px;
      color: $black;
      line-height: 80px;
      font-style: normal;
      font-family: 'Anton', sans-serif;
    }
  }
  &__hamburguer {
    @include transparent(transparent); 
    position: fixed;
    display: block;
    min-height: 50px;
    min-width: 50px;
    top: 10px;
    z-index: 2;

    img {
      display: block;
    }
  }
}

.background__mobile {
  background:$beige;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index:0;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #D1C9AC), to(rgba(211, 209, 172, 0)));
  background: -webkit-linear-gradient(#D1C9AC 40%, rgba(211, 209, 172, 0));
  background: -o-linear-gradient(#D1C9AC 40%, rgba(211, 209, 172, 0));
  background: linear-gradient(#D1C9AC 40%, rgba(211, 209, 172, 0));
  -webkit-box-shadow: inset 0px 31px 58px -3px #654a07;
  box-shadow: inset 0px 31px 58px -3px #654a07;
  -webkit-box-shadow: inset 0px 31px 58px -14px #654a07;
  box-shadow: inset 0px 31px 58px -14px #654a07;
}