.Section__box {
  border: 0.3rem solid transparent;
  border-image: url("./../svg/randlinie.svg") 49%;
  margin: 5px 0;
  padding: 10px;
  position: relative; }
  .Section__box__intern {
    border: 0.3rem solid transparent;
    border-image: url("./../svg/randlinie.svg") 40%;
    padding: 0 20px;
    position: relative;
    min-height: 280px; }
  .Section__box__negativebottom {
    background: #000000;
    color: #D1C9AC;
    margin-left: -21px;
    margin-right: -21px;
    position: absolute;
    width: 100%;
    bottom: 0; }
  .Section__box__negativetop {
    background: #000000;
    color: #D1C9AC;
    margin-left: -21px;
    margin-right: -21px;
    position: absolute;
    width: 100%;
    top: 0; }
  .Section__box__bottom {
    position: absolute;
    width: 100%;
    bottom: 0; }
  .Section__box__js {
    max-width: 160px;
    margin: 30px 0; }

@media only screen and (max-width: 767px) {
  .Section__box__intern {
    min-height: 230px; }
  .Section__box__js {
    margin: 30px 0 0 0; }
  .Section__box__middle {
    min-height: 160px; }
  .last {
    min-height: 380px !important; } }

@media only screen and (min-width: 767px) and (max-width: 768px) {
  .Section__box__intern {
    min-height: 280px; }
  .Section__box__js {
    margin: 30px 0 0 0; }
  .Section__box__middle {
    min-height: 160px; }
  .last {
    min-height: 410px !important; } }

@media only screen and (min-width: 992px) {
  .Section__box__intern {
    min-height: 410px; } }

@media only screen and (max-width: 992px) {
  .Section__box__middle {
    position: relative;
    min-height: 180px; }
  .Section__box__middle--intern {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
  .last {
    min-height: 410px !important; } }

@media only screen and (max-width: 1224px) {
  .MenuContainer__opened {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0; }
    .MenuContainer__opened img {
      display: block !important; } }

.MenuContainer__button__close {
  border: 0;
  background-color: transparent;
  outline: 0;
  line-height: 60px;
  font-weight: 500;
  font-style: italic;
  font-size: 22px;
  text-align: right;
  float: right;
  clear: both;
  width: 100%;
  padding: 0 15px; }
  .MenuContainer__button__close:after {
    position: absolute;
    content: url("./../svg/menuzeile.svg");
    width: 97%;
    margin-top: 34px;
    left: 3px;
    margin-top: 25px; }
  .MenuContainer__button__close:hover {
    background-color: #000000;
    color: #D1C9AC; }
    .MenuContainer__button__close:hover img {
      height: 38px;
      width: 38px;
      top: 6px; }
  .MenuContainer__button__close img {
    position: absolute;
    height: 40px;
    width: 40px;
    right: -45px;
    top: 5px;
    display: none;
    transition: all 0.3s; }

.Menu {
  display: flex; }
  @media only screen and (min-width: 1225px) {
    .Menu {
      text-align: left; } }
  .Menu > div {
    background: linear-gradient(#D1C9AC 40%, rgba(211, 209, 172, 0));
    -webkit-box-shadow: inset 0px 31px 58px -3px #654a07;
    -moz-box-shadow: inset 0px 31px 58px -3px #654a07;
    box-shadow: inset 0px 31px 58px -3px #654a07;
    -webkit-box-shadow: inset 0px 31px 58px -14px #654a07;
    -moz-box-shadow: inset 0px 31px 58px -14px #654a07;
    box-shadow: inset 0px 31px 58px -14px #654a07;
    position: fixed;
    z-index: 2;
    top: 0;
    height: 100%;
    transition: -webkit-transform ease 250ms;
    transition: transform ease 250ms; }
    @media only screen and (max-width: 1224px) {
      .Menu > div {
        width: 270px; } }
    @media only screen and (min-width: 1225px) {
      .Menu > div {
        width: 100%;
        left: 0;
        height: 120px; } }
    .Menu > div.left {
      background: #D1C9AC;
      left: -270px; }
    .Menu > div.visible.left {
      transform: translate3d(270px, 0, 0); }
    .Menu > div > .MenuItem {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 10px 15px;
      cursor: pointer;
      color: #000000;
      line-height: 60px;
      font-weight: 500;
      font-style: italic;
      font-size: 22px; }
      .Menu > div > .MenuItem:after {
        position: absolute;
        content: url("./../svg/menuzeile.svg");
        width: 97%;
        margin-top: 34px;
        left: 3px; }
      .Menu > div > .MenuItem span {
        padding: 0 0 0 15px; }
      .Menu > div > .MenuItem:hover {
        color: #D1C9AC;
        background-color: #000000;
        text-decoration: none; }
      .Menu > div > .MenuItem .icon {
        max-width: 50px;
        -webkit-animation-name: spin;
        -webkit-animation-duration: 8000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 8000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 8000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        animation-name: spin;
        animation-duration: 8000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear; }
    .Menu > div .MenuItem--desktop {
      display: inline;
      color: #000000;
      line-height: 80px;
      font-size: 1.6rem;
      padding: 0 20px;
      font-style: italic; }
      @media (max-width: 1200px) {
        .Menu > div .MenuItem--desktop {
          font-size: calc(1.12rem + 0.64vw) ; } }
      .Menu > div .MenuItem--desktop:hover {
        text-decoration: none; }
    .Menu > div .code {
      font-size: 1.8rem;
      padding: 0 20px;
      color: #000000;
      line-height: 80px;
      font-style: normal;
      font-family: 'Anton', sans-serif; }
      @media (max-width: 1200px) {
        .Menu > div .code {
          font-size: calc(1.16rem + 0.85333vw) ; } }
  .Menu__hamburguer {
    border: 0;
    background-color: transparent;
    outline: 0;
    position: fixed;
    display: block;
    min-height: 50px;
    min-width: 50px;
    top: 10px; }
    .Menu__hamburguer img {
      display: block; }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
