@import "./Colors.scss";
@import "./Global.scss";


.MenuContainer {
  &__opened {
    background: rgba(0,0,0,0.6);
    height: 100%;
    position: fixed;
    width: 100%;
  }

  &__button{
    &__close {
      @include transparent(transparent); 
      @include menu-item(22px); 
      text-align: right;
    }
  }
}

.Menu {
  display:flex;
  $menu-width:290px;

  

  >div {
    position: fixed;
    z-index:2;
    top:0;
    width:$menu-width; 
    height:100%; 

    transition:(-webkit-transform ease 250ms); 
    transition:(transform ease 250ms);

    &.left {
      background:$beige;
      left:$menu-width*-1;
    }

    &.visible.left {
      transform: (translate3d($menu-width, 0, 0));
    }

    >.MenuItem {
      display: flex;
      align-items:center;
      margin:0;
      padding:10px 15px;
      cursor:pointer;
      color: $black;
      @include menu-item(22px); 

      &:after{
        position: absolute;
        content: url('./../svg/linie.svg');
        width: 97%;
        margin-top: 34px;
        left: 0;
      }

      span {
        padding: 0 0 0 15px;
      }

      &:hover {
        color:$beige;
        background-color: $black; 
      }

      .icon{
        max-width: 50px;
        -webkit-animation-name: spin;
        -webkit-animation-duration: 8000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 8000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 8000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        
        animation-name: spin;
        animation-duration: 8000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
  &__hamburguer {
    @include transparent(transparent); 
    position: absolute;
    display: block;
    min-height: 50px;
    min-width: 50px;
    top: 10px;

    img {
      display: block;
    }
  }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}