@import "./Colors.scss";
@import "./Functions.scss";

.navbar {
    background-color: $black;
    border-color: $black;

    .navbar-collapse, .navbar-inverse .navbar-form{
        border-color: $black;
    }

    &-default {
        background-image: none;

        .navbar-toggle {
            border-color: transparent;
        }
    }

    &-brand {
        color: $beige !important;
    }

    &-nav {
        li a {
            color: $beige !important;
        }
    }
}
.SimpleMenu {
    &__language {
        color: $beige;
        line-height: 50px;
        padding: 0 8px;
        cursor: pointer;
    }   
}


//Responsive
@media only screen and (max-width: $phone) {
    .navbar-nav li a {
        @include responsive-font-size(2.5rem);
        line-height: 40px;
    }
}