@import "./Colors.scss";
@import "./Functions.scss";

html, body {
    width: 100%;
    overflow-x: hidden;
    overflow:auto;
    @media only screen and (max-width: $phone) {
        height: 100%;
    }
}

@mixin transparent($transp) {
    border: 0;
    background-color: $transp;
    outline: 0;
}

@mixin menu-item($fsize){
    line-height: 60px;
    font-weight: 500;
    font-style: italic;
    font-size: $fsize;
}

@mixin animation {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 8000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 8000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
        }
        @-webkit-keyframes spin {
            from { -webkit-transform: rotate(0deg); }
            to { -webkit-transform: rotate(360deg); }
        }
        @keyframes spin {
            from {transform:rotate(0deg);}
            to {transform:rotate(360deg);}
        }
}

.Section {
    padding: 80px 0 0 0;
    margin: 0 0 200px 0;

    .first {
        padding: 0;
    }
    
    &__box {
        border: 0.3rem solid transparent;
        border-image: url('./../svg/randlinie.svg') 49%;
        margin: 5px 0;
        padding: 10px;
        position: relative;

        &__intern {
            border: 0.3rem solid transparent;
            border-image: url('./../svg/randlinie.svg') 40%;
            padding: 0 20px;
            position: relative;
            min-height: 280px;
        }
    
        &__negativebottom {
            background: $black;
            color: $beige;
            margin-left: -21px;
            margin-right: -21px;
            position: absolute;
            width: 100%;
            bottom: 0;
            padding: 5px 0;
        }
    
        &__negativetop {
            background: $black;
            color: $beige;
            margin-left: -21px;
            margin-right: -21px;
            position: absolute;
            width: 100%;
            top: 0;
        }
    
        &__bottom  {
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    
        &__js {
            max-width: 160px;
            margin: 30px 0;
        }
    }
    &__title {
        text-transform: uppercase;
        padding: 4px;
        margin: 5px;
        font-family: 'Anton', sans-serif;
        @include responsive-font-size(7rem);
        text-align: left;
        color: $beige;

        &--background {
            @media only screen and (max-width: $phone) {
                background: linear-gradient(90deg, $black  93%, rgba(0,0,0,0.4) 7%);
                margin-bottom: 90px;
            }
            background: linear-gradient(90deg, $black  70%, rgba(0,0,0,0.4) 30%);
            padding: 15px;
            margin-bottom: 110px;
        }
    }

    .less-border {
        margin-bottom: 20px;
    }

}

.margin-20 {
    margin: 25px 0 0 0;
}


// Responsive ########################################################################################################
@media only screen and (max-width: $small-phone) {
    .Section__box__intern {
        min-height: 230px;
    }

    .Section__box__js {
        margin: 30px 0 0 0;
    }

    .Section__box__middle {
        min-height: 160px;
    }

    .last {
        min-height: 380px !important;
    }
}

@media only screen and (min-width: $small-phone) and (max-width: $tablet){
    .Section__box__intern {
        min-height: 280px;
    }

    .Section__box__js {
        margin: 30px 0 0 0;
    }

    .Section__box__middle {
        min-height: 160px;
    }

    .last {
        min-height: 410px !important;
    }
}


@media only screen and (min-width: $laptop) {
    .Section__box__intern {
        min-height: 410px;
    }
}

@media only screen and (max-width: $laptop) {

    .Section__box__middle {
        position: relative;
        min-height: 180px;
    }

    .Section__box__middle--intern {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 

    }

    .last {
        min-height: 410px !important;
    }

   /*  .Section__title--background {
        background: linear-gradient(90deg, $black  50%, rgba(0,0,0,0.6) 50%);
        padding: 15px;     
    } */
}

//Padding Section
.Content {
    @media only screen and (max-width: $phone) {
        padding: 190px 0 0 0;
        transition: all 0.3s;
    }

    @media only screen and (min-width: $phone) and (max-width: $tablet) {
        padding: 120px 0 0 0;
    }

    @media only screen and (min-width: $tablet) and (max-width: $laptop){
        padding: 150px 0 0 0;
    }

    @media only screen and (min-width: $laptop) and (max-width: $desktop){
        padding: 40px 0 0 0;
    }

    @media only screen and (min-width: $desktop) {
        padding: 80px 0 0 0;
    }
}

.Section__negativeRight {
    @media only screen and (min-width: $desktop) {
        background: linear-gradient(90deg, transparent 50%, $black  50%);
    } 
}

.Section__negativeTop {
    @media only screen and (min-width: $desktop) {
        background: linear-gradient(180deg, $black  60%, transparent 40%);
        color: $beige;
    } 
}

.negative {
    background-color: $black;
    color: $beige;

   /*  &:after {
        position: absolute;
        content: url("./../png/ink.png");
        right: -25px;
        top: -100px;

        @media only screen and (max-width: $phone) {
            right: -15px;
            top: -200px;
        } 
    } */

}

.Section {
    @media only screen and (max-width: $phone) {
        margin: 0;
    }
}