@import "./Colors.scss";
@import "./Functions.scss";
@import "./Global.scss";

.slick-next {
    right: -15px;
    display: block;
    height: 100%;
    z-index: 9;
    width: 50px;
}

.slick-prev {
    left: -15px;
    display: block;
    height: 100%;
    z-index: 9;
    width: 50px;
}

.slick-dots {
    height: 50px;
    top: -105px;
    margin-bottom: 50px;

    .slick-active {
        background: rgba(0,0,0,0.3);
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;

        button {
            &:before {
                color: transparent !important;
            }
        }
    }


    li  {
        width: 50px;
        height: 50px;
        margin: 0 20px;
        @include animation; 

        button {
            background-color:transparent;
            &:before {
                width: 50px;
                height: 50px;
                color: transparent;
                line-height: 50px;
            }
        }
    
        &:before {
            content: url('./../svg/werkzeuge.svg');
            width: 50px;
            height: 50px;
        }
    }
}

.WorksSlider {
    &__img {
        max-width: 100%;
        margin: 30px auto;
    }

    &__box {
        height: 100%;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        resize: both;
        overflow: auto;
    }

    &__link{
        display: block;
        background: $beige;
        color: $black;
        padding: 10px;
        max-width: 200px;
        margin: 30px auto;
        -webkit-box-shadow: 3px 4px 46px -3px rgba(0,0,0,0.86);
        -moz-box-shadow: 3px 4px 46px -3px rgba(0,0,0,0.86);
        box-shadow: 3px 4px 46px -3px rgba(0,0,0,0.86);

    }

    &__right{
        display: block;
    }

    &__h1 {
        @include responsive-font-size(3rem);
    }
}

//Responsive 

.slick-slider {
  div {
    outline: 0;     
    @media only screen and (min-width: $desktop) {
        min-height: 400px;
    }
  }
}  


.WorksSlider {
    @media only screen and (min-width: $desktop) {
        &__h1 {
            color: $beige;
        }

        &__paragraph {
            color: $beige;
        }
    }
}

.slick-dots li {
    @media only screen and (max-width: $phone) {
        width: 40px;
        height: 40px;
        margin: 0 12px;
    }
}

.slick-dots {
    @media only screen and (max-width: $phone) {
        height: 50px;
        top: -80px !important;
    }
}

.slick-next:before, .slick-prev:before {
    @media only screen and (max-width: $desktop) {
        color: #000;
    }
}

.slick-next:before {
     @media only screen and (min-width: $desktop) {
        color: $beige;
    }
}