.Section__box {
  border: 0.3rem solid transparent;
  border-image: url("./../svg/randlinie.svg") 49%;
  margin: 5px 0;
  padding: 10px;
  position: relative; }
  .Section__box__intern {
    border: 0.3rem solid transparent;
    border-image: url("./../svg/randlinie.svg") 40%;
    padding: 0 20px;
    position: relative;
    min-height: 280px; }
  .Section__box__negativebottom {
    background: #000000;
    color: #D1C9AC;
    margin-left: -21px;
    margin-right: -21px;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 5px 0; }
  .Section__box__negativetop {
    background: #000000;
    color: #D1C9AC;
    margin-left: -21px;
    margin-right: -21px;
    position: absolute;
    width: 100%;
    top: 0; }
  .Section__box__bottom {
    position: absolute;
    width: 100%;
    bottom: 0; }
  .Section__box__js {
    max-width: 160px;
    margin: 30px 0; }

.Section__title {
  text-transform: uppercase;
  padding: 4px;
  margin: 5px;
  font-family: 'Anton', sans-serif;
  font-size: 7rem;
  text-align: left;
  color: #D1C9AC; }
  @media (max-width: 1200px) {
    .Section__title {
      font-size: calc(2.2rem + 6.4vw) ; } }
  .Section__title--background {
    background: url("./../png/streifen.png") no-repeat;
    min-height: 160px;
    padding: 15px;
    margin-bottom: 80px; }

.margin-20 {
  margin: 25px 0 0 0; }

.ink {
  width: 100%;
  height: 338px;
  margin: 2% auto;
  background: url("./../png/tintentropfen.png") left center;
  animation: play 2s steps(51) infinite; }

@keyframes play {
  100% {
    background-position: -30600px; } }

@media only screen and (max-width: 480px) {
  .Section__box__intern {
    min-height: 230px; }
  .Section__box__js {
    margin: 30px 0 0 0; }
  .Section__box__middle {
    min-height: 160px; }
  .last {
    min-height: 380px !important; } }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .Section__box__intern {
    min-height: 280px; }
  .Section__box__js {
    margin: 30px 0 0 0; }
  .Section__box__middle {
    min-height: 160px; }
  .last {
    min-height: 410px !important; } }

@media only screen and (min-width: 992px) {
  .Section__box__intern {
    min-height: 410px; } }

@media only screen and (max-width: 992px) {
  .Section__box__middle {
    position: relative;
    min-height: 180px; }
  .Section__box__middle--intern {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
  .last {
    min-height: 410px !important; }
  .Section__title--background {
    background: url("./../png/streifen_small.png") no-repeat;
    min-height: 160px;
    padding: 15px; } }

@media only screen and (max-width: 767px) {
  .Content {
    padding: 190px 0 0 0;
    transition: all 0.3s; } }

@media only screen and (min-width: 767px) and (max-width: 768px) {
  .Content {
    padding: 120px 0 0 0; } }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .Content {
    padding: 150px 0 0 0; } }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .Content {
    padding: 40px 0 0 0; } }

@media only screen and (min-width: 1200px) {
  .Content {
    padding: 80px 0 0 0; } }

@media only screen and (min-width: 1200px) {
  .Section__negativeRight {
    background: linear-gradient(90deg, transparent 50%, #000000 50%); } }

@media only screen and (min-width: 1200px) {
  .Section__negativeTop {
    background: linear-gradient(180deg, #000000 60%, transparent 40%);
    color: #D1C9AC; } }

.negative {
  background-color: #000000;
  color: #D1C9AC; }
  .negative:after {
    position: absolute;
    content: url("./../png/ink.png");
    right: -25px;
    top: -100px; }
    @media only screen and (max-width: 767px) {
      .negative:after {
        right: -15px;
        top: -200px; } }

.slick-next {
  right: 0px;
  display: block;
  height: 100%;
  z-index: 9;
  width: 50px; }

.slick-prev {
  left: 0px;
  display: block;
  height: 100%;
  z-index: 9;
  width: 50px; }

.slick-dots {
  height: 50px;
  top: -105px;
  margin-bottom: 50px; }
  .slick-dots .slick-active {
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px; }
    .slick-dots .slick-active button:before {
      color: transparent !important; }
  .slick-dots li {
    width: 50px;
    height: 50px;
    margin: 0 20px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 8000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 8000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
    .slick-dots li button {
      background-color: transparent; }
      .slick-dots li button:before {
        width: 50px;
        height: 50px;
        color: transparent;
        line-height: 50px; }
    .slick-dots li:before {
      content: url("./../svg/werkzeuge.svg");
      width: 50px;
      height: 50px; }

.WorksSlider__img {
  max-width: 100%;
  margin: 30px auto; }

.WorksSlider__box {
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto; }

.WorksSlider__link {
  display: block;
  background: #D1C9AC;
  color: #000000;
  padding: 10px;
  max-width: 200px;
  margin: 30px auto; }

.WorksSlider__right {
  display: block; }

.slick-slider div {
  outline: 0; }
  @media only screen and (min-width: 1200px) {
    .slick-slider div {
      min-height: 400px; } }

@media only screen and (min-width: 1200px) {
  .WorksSlider__h1 {
    color: #D1C9AC; }
  .WorksSlider__paragraph {
    color: #D1C9AC; } }

@media only screen and (max-width: 767px) {
  .slick-dots li {
    width: 30px;
    height: 30px;
    margin: 0 8px; } }
